aiogram~=2.25.2
future~=0.18.2
numpy~=2.1.1
Pillow~=9.0.1
olefile~=0.46
pip~=22.0.2
attrs~=23.2.0
distro~=1.7.0
wheel~=0.37.1
protobuf~=3.12.4
cryptography~=3.4.8
filelock~=3.16.1
lxml~=5.4.0
bs4~=0.0.2
beautifulsoup4~=4.12.3
charset-normalizer~=3.3.2
setuptools~=75.6.0
pytz~=2022.1
typing_extensions~=4.12.2
certifi~=2024.7.4
urllib3~=1.26.5
six~=1.16.0
python-dateutil~=2.8.1
matplotlib~=3.9.2
idna~=3.3
chardet~=4.0.0
contourpy~=1.3.0
fonttools~=4.53.1
reportlab~=3.6.8
pycairo~=1.20.1
pyparsing~=2.4.7
wordcloud~=1.9.3
cycler~=0.12.1
packaging~=24.1
PyGObject~=3.42.1
kiwisolver~=1.4.7
platformdirs~=4.3.6
customtkinter~=5.2.2
django-qrcode~=0.3